.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.gbtn {
  text-align: right;
}

.btn {
  background: #00638a;
  color: #fff;
  border: 1px ivory solid;
  padding: 5px 9px;
  margin: 0px 2px;
  border-radius: 5px;
  cursor: pointer;
}
