.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.gbtn {
  text-align: right;
}

h1 {
  font-size: 50px;
  margin: 5px;
}

.btn {
  background: #0183b6;
  color: #fff;
  border: none;
  padding: 5px 9px;
  margin: 0px 3px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 4px 0px #ffffff;
}
