form {
  display: flex;
  padding-top: 10px;
}

label {
  padding-right: 5px;
  color: yellow;
  padding: 5px;
}

input[type='text'] {
  flex: 10;
  padding: 5px;
  border-radius: 5px;
  margin: 0px 5px;
}

input[type='datetime-local'] {
  flex: 5;
  padding: 5px;
  border-radius: 5px;
  margin: 0px 5px;
}

input[type='submit'] {
  flex: 1;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
