h4 {
  display: inline;
}

.btnStyle {
  color: rgb(255, 1, 1);
  background-color: #c5c5c5;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.block {
  display: block;
  background-color: rgba(241, 241, 241, 0.568);
  margin: 3px 0px 3px 0px;
  box-shadow: 1px 1px 4px 0px #504f4f;
  border-radius: 10px;
  overflow: hidden;
}
