h4 {
  display: inline;
}

.btnStyle {
  /* background: #ff0000; */
  color: rgb(255, 1, 1);
  background-color: #c5c5c5;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.block {
  display: block;
  background-color: #fff;
  margin: 0px 0px 3px 0px;
  box-shadow: 1px 1px 4px 0px #7b7b7b;
  border-radius: 10px;
  overflow: hidden;
}
