body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.wrapper {
  background: rgba(93, 95, 95, 0.288);
}
